*{
    /* background-color: #350101; */
    word-spacing: 1px;
    letter-spacing: 1px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: MV Boli;
}